@model List<KidKinder.Entities.ClassRoom>
@{
    ViewBag.Title = "ClassList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<!DOCTYPE html>
<html lang="en">

<body>

    <!-- Basic table card start -->
    <div class="card">
        <div class="card-header">
            <br />
            <h2>Sınıf Listesi</h2>

            <div class="card-header-right">

            </div>
        </div>
        <div class="card-block table-border-style">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr bgcolor="#F2F3F4">
                            <th scope="col">#</th>
                            <th>Sınıf Adı</th>
                            <th>Yaş Aralığı</th>
                            <th>Kontenjan</th>
                            <th>Fiyat</th>
                            <th>Sil</th>
                            <th>Güncelle</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <th scope="row">@item.ClassRoomId</th>
                                <td>@item.Title</td>
                                <td>@item.AgeofKids</td>
                                <td>@item.TotalSeats</td>
                                <td>@item.Price</td>
                                <td><a href="/Class/DeleteClass/@item.ClassRoomId" class="btn btn-danger">Sil</a></td>
                                <td><a href="/Class/EditClass/@item.ClassRoomId" class="btn btn-success">Güncelle</a></td>
                            </tr>

                        }
                    </tbody>

                </table>

            </div>

        </div>

    </div>

    <span>  <a href="/Class/AddClass/" class="btn btn-primary">Yeni Sınıf Girişi </a> </span>
</body>

</html>



